{% extends 'base.html' %}
{% block content%}
<!-- Slogan-->
<div class="row slogan">
  <div class="col-12 col-md-6 col-lg-4">
    <h1 class="mb-4">
      Save Money on Your Next <bold class="special_text">Ryanair Flight</bold>
    </h1>
    <p>
      Ryanair Radar is a free price tracker that alerts you to the best deals on
      your favorite routes.
    </p>
    <p class="special_text">Never miss a price drop again!</p>
  </div>
  <div class="col-12 col-md-6 col-lg-8">
    <figure>
      <img
        class="img-fluid"
        src="../static/ryanair_plane.jpg"
        alt="Image showing an Ryanair plane flying"
      />
      <figcaption>
        Photo by
        <a
          href="https://unsplash.com/@digitaldev?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >Fotis</a
        >
        on
        <a
          href="https://unsplash.com/photos/white-and-blue-passenger-plane-in-flight-YbF3rZHHPvM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >Unsplash</a
        >
      </figcaption>
    </figure>
  </div>
</div>
{% endblock %}
